{% from "components/rosh-widget/macro.njk" import roshWidget %}
{% from "components/mappa-widget/macro.njk" import mappaWidget %}
{% from "components/tier-widget/macro.njk" import tierWidget %}

{{ roshWidget(params.roshRiskSummary) }}
{{ mappaWidget(params.mappa) }}
{{ tierWidget(params.tier)}}
