{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% from "../components/error-messages/macro.njk" import errorMessages %}

{% set pageTitle = applicationName + " - Enhanced CCTV provision" %}

{% block content %}
  <main class="app-container govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form method="post" action="/referral-application/ap-type/cctv">
          <input type="hidden" name="_csrf" value={{csrfToken}}>

          {{ errorMessages(errors) }}

          <h1 class="govuk-heading-l">Enhanced CCTV provision</h1>

          {% set agencyHtml %}
          {{ govukTextarea({
            id: "cctvAgency",
            name: "cctvAgency",
            value: cctvAgency
          }) }}
          {% endset -%}

          {{ govukCheckboxes({
            idPrefix: "cctvReasons",
            name: "cctvReasons[]",
            fieldset: {
              legend: {
                text: "Which behaviours has Robert demonstrated that require enhanced CCTV provision to monitor?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: ({ text: errors.items } if errors.items | length) ,
            items: [
              {
                value: "appearance",
                text: 'Changed their appearance or clothing to offend',
                checked: ((cctvReasons or []).indexOf('appearance') > -1)
              },
              {
                value: "networks",
                text: 'Built networks within offender groups',
                checked: ((cctvReasons or []).indexOf('networks') > -1)
              },
              {
                value: "assualt-staff",
                text: 'Physically assaulted staff',
                checked: ((cctvReasons or []).indexOf('assualt-staff') > -1)
              },
              {
                value: "assualt-others",
                text: 'Physically assaulted other people in prison',
                checked: ((cctvReasons or []).indexOf('assualt-others') > -1)
              },
              {
                value: "threats-to-life",
                text: 'Received credible threats to life',
                checked: ((cctvReasons or []).indexOf('threats-to-life') > -1)
              },
              {
                value: "community-threats",
                text: 'Experienced threats from the local community or media intrusion that poses a risk to the individual, other residents or staff',
                checked: ((cctvReasons or []).indexOf('community-threats') > -1)
              }
            ]
          }) }}

          {{ govukRadios({
              idPrefix: "cctvAgencyRequest",
              name: "cctvAgencyRequest",
              fieldset: {
                legend: {
                  text: "Have partnership agencies requested the sharing of intelligence captured via enhanced CCTV?",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                text: "For example, DOS, JEXU or NSD."
              },
              errorMessage: ({ text: errors.agencyRequest } if errors.agencyRequest | length) ,
              items: [
                {
                  value: "yes",
                  text: "Yes",
                  checked: (cctvAgencyRequest === "yes"),
                            conditional: {
                  html: agencyHtml
                }
                },
                {
                  value: "no",
                  text: "No",
                  checked: (cctvAgencyRequest === "no")
                }
              ]
            }) }}

            {{ govukTextarea({
                name: "cctvSupportingInformation",
                id: "cctvSupportingInformation",
                value: cctvSupportingInformation,
                label: {
                  text: "Provide any supporting information about why Robert requires enhanced CCTV provision.",
                  classes: "govuk-label--m"
                }
            }) }}

          {{ govukButton({
            text: "Save and continue"
          }) }}
        </form>
      </div>
    </div>
  </main>
{% endblock %}
