{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Robert Brown is not eligible for an AP placement" %}

{% block content %}
  <main class="app-container govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Robert Brown is not eligible for an AP placement</h1>

        <p class="govuk-body">This is based on the information you have provided and Robert Brown's:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>probation status</li>
          <li>Tier</li>
          <li>risk registrations in nDelius</li>
          <li>PIPE and OPD information in nDelius</li>
        </ul>

        <p class="govuk-body">You can read more about eligibility for APs in the guidance.</p>

        <h2 class="govuk-heading-m">If you think this is wrong</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>Consider updating nDelius if information is out of date</li>
          <li>Contact your local CRU lead for support or to agree an exception</li>
        </ul>

         <h2 class="govuk-heading-m">Check what other options are available</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>Find out about alternative interventions</li>
          <li>Check what accommodation options are available</li>
        </ul>

        <form method="post" action="/referral-application/confirm-need/not-eligible">
          <input type="hidden" name="_csrf" value={{csrfToken}}>

          {{ govukButton({
            text: "Save and continue"
          }) }}
        </form>

      </div>
    </div>
  </main>
{% endblock %}
