{% extends "../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% set pageTitle = applicationName + " - Find a placement (Matching algorithm)" %}

{% block content %}

  <main class="app-container govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1>Find a placement (Matching algorithm)</h1>
        <form method="post" action="/match-placements">
          <input type="hidden" name="_csrf" value={{csrfToken}}>
          {{ govukInput({
            label: {
              text: "What is the target location for this person?"
            },
            classes: "govuk-input--width-20",
            hint: {
                text: "Enter a place name or postcode"
              },
            id: "placement_search[location]",
            name: "placement_search[location]"
          }) }}

          {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "placement_search[gender]",
            name: "placement_search[gender]",
            fieldset: {
              legend: {
                text: "Gender"
              }
            },
            items: [
              {
                value: "F",
                text: "Female",
                checked: (filterArgs.gender == 'F')
              },
              {
                value: "M",
                text: "Male",
                checked: (filterArgs.gender == 'M')
              }
            ]
          }) }}

          {{ govukCheckboxes({
            idPrefix: "placement_search[requirements]",
            name: "placement_search[requirements][]",
            fieldset: {
              legend: {
                text: "Requirements"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "enhanced_security",
                text: "Enhanced security",
                checked: (filterArgs.requirements|length and 'enhanced_security' in filterArgs.requirements)
              },
              {
                value: "step_free_access_to_communal_areas",
                text: "Step free access to communal areas",
                checked: (filterArgs.requirements|length and 'step_free_access_to_communal_areas' in filterArgs.requirements)
              },
              {
                value: "lift_or_stairlift",
                text: "Lift or Stairlift Available",
                checked: (filterArgs.requirements|length and 'lift_or_stairlift' in filterArgs.requirements)
              }
            ]
          }) }}

          {{
            govukDateInput({
              fieldset: {
                legend: {
                  text: "Date from"
                }
              },
              items: [
                {
                  label: "Day",
                  name: "placement_search[date_from][day]",
                  classes: "govuk-input govuk-date-input__input govuk-input--width-2",
                  value: (filterArgs.date_from and filterArgs.date_from.getDate())
                },
                {
                  label: "Month",
                  name: "placement_search[date_from][month]",
                  classes: "govuk-input govuk-date-input__input govuk-input--width-2",
                  value: (filterArgs.date_from and filterArgs.date_from.getMonth() + 1)
                },
                {
                  label: "Year",
                  name: "placement_search[date_from][year]",
                  classes: "govuk-input govuk-date-input__input govuk-input--width-4",
                  value: (filterArgs.date_from and filterArgs.date_from.getFullYear())
                }
              ]
            })
          }}

          {{ govukDateInput({
            fieldset: {
              legend: {
                text: "Date to"
              }
            },
            items: [
                {
                  label: "Day",
                  name: "placement_search[date_to][day]",
                  classes: "govuk-input govuk-date-input__input govuk-input--width-2",
                  value: (filterArgs.date_to and filterArgs.date_to.getDate())
                },
                {
                  label: "Month",
                  name: "placement_search[date_to][month]",
                  classes: "govuk-input govuk-date-input__input govuk-input--width-2",
                  value: (filterArgs.date_to and filterArgs.date_to.getMonth() + 1)
                },
                {
                  label: "Year",
                  name: "placement_search[date_to][year]",
                  classes: "govuk-input govuk-date-input__input govuk-input--width-4",
                  value: (filterArgs.date_to and filterArgs.date_to.getFullYear())
                }
              ]
          }) }}

          {{ govukButton({
            text: "Find matching AP placements"
          }) }}
        </form>

        {{ govukTable({
              captionClasses: "govuk-table__caption--l",
              firstCellIsHeader: true,
              head: [
                {
                  text: "AP Code"
                },
                {
                  text: "Name"
                },
                {
                  text: "Town"
                },
                {
                  text: "Distance"
                },
                {
                  text: "Enhanced security?"
                },
                {
                  text: "Step free access to communal areas?"
                },
                {
                  text: "Lift or Stairlift Available?"
                },
                {
                  text: "Gender"
                },
                {
                  text: "Available Beds"
                },
                {
                  text: "Score"
                }
              ],
              rows: apRows
            }) }}

      </div>
    </div>
  </main>

{% endblock %}


