{% extends "../partials/layout.njk" %}
{% from "components/widgets/macro.njk" import widgets %}
{% from "components/tag/macro.njk" import tag %}

{% set pageTitle = applicationName + " - Apply for an approved premises (AP) placement" %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full app-task-list__header-text">
			<dl class="govuk-!-margin-bottom-2">
				<div class="app-task-list__definition-row">
					<dt class="app-task-list__definition-term">Date of Birth: </dt><dd class="app-task-list__definition-description">3 October 1991 (30 years old)</dd><dt class="app-task-list__definition-term">Gender: </dt><dd class="app-task-list__definition-description">Male</dd><dt class="app-task-list__definition-term">NOMS: </dt><dd class="app-task-list__definition-description">A1234CR</dd>
				</div>
				<div class="app-task-list__definition-row">
					<dt class="app-task-list__definition-term">CRN:</dt><dd class="app-task-list__definition-description">E554419</dd><dt class="app-task-list__definition-term">Release date:</dt><dd class="app-task-list__definition-description">23/08/2022</dd><dt class="app-task-list__definition-term">Current location:</dt><dd class="app-task-list__definition-description">HMP Hewell</dd><dt class="app-task-list__definition-description">Status:</dd><dt class="app-task-list__definition-term">In custody</dt>
				</div>
			</dl>

			<h2 class="govuk-heading-l govuk-!-margin-bottom-4">Robert Brown</h1>
			<hr class="govuk-!-margin-0">
		</div>
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-l govuk-!-margin-top-5">Apply for an approved premises (AP) placement</h1>
			<h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
			<p class="govuk-body govuk-!-margin-bottom-7">You've completed 1 out of 4 steps</p>
		</div>

		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				<div class="govuk-grid-column-two-thirds">
					<ol class="app-task-list">
						<li>
							<h2 class="app-task-list__section">
								<span class="app-task-list__section-number">1.
									</span>
									Before you continue
								</h2>
							<ul class="app-task-list__items">
								<li class="app-task-list__item">
									<span class="app-task-list__task-name">
										<a href="#" aria-describedby="eligibility-status">
												Check OASys is up to date
											</a>
									</span>
									<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
								</li>
								<li class="app-task-list__item" data-task="eligibility">
									<span class="app-task-list__task-name">
										<a href="/referral-application/eligibility/new/referral-reason" aria-describedby="eligibility-status">
												Check if the person is eligible
											</a>
									</span>
									{{ tag(eligibilityStatus, 'eligibility') }}
								</li>
								<li class="app-task-list__item" data-task="ap-type">
									<span class="app-task-list__task-name">
										{% if apTypeStatus == 'cannot_start' %}
												Select the type of AP required
											{% else %}
											<a href="/referral-application/ap-type/new/type-of-ap" aria-describedby="read-declaration-status">Select the type of AP required</a>
										{% endif %}
									</span>
									{{ tag(apTypeStatus, 'ap-type') }}
								</li>
						</li>

					<li>
						<h2 class="app-task-list__section">
							<span class="app-task-list__section-number">2.</span>
								Risk and need factors
							</h2>
						<ul class="app-task-list__items">
							<li class="app-task-list__item">
								<span class="app-task-list__task-name">
										Choose sections of OASys to import
									</span>
								<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="choose-sections-of-oasys-to-import">Cannot start yet</strong>
							</li>
						</li>
					</ul>
				</li>

				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">3.</span>
								Apply
							</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">Submit application</span>
							<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
						</li>
					</ul>
				</li>
			</ol>
		</div>

		<div class="govuk-grid-column-one-third">
			{{ widgets(risks) }}
		</div>
	</div>
{% endblock %}
