{% extends "../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% set pageTitle = applicationName + " - Bookings" %}


{% block content %}
  {% include "../partials/messages.njk" %}
  <main class="app-container govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1>Bookings</h1>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            {{ govukSummaryList({
              classes: 'govuk-summary-list--no-border',
              rows: [
                {
                  key: {
                    text: "Total bookings"
                  },
                  value: {
                    text: bookingsCount,
                    classes: 'govuk-!-text-align-right'
                  }
                }
              ]
            }) }}
            {{ govukButton({
              text: "Make new booking",
              classes: "govuk-button--secondary",
              href: "/bookings/new"
            }) }}
          </div>

          <div class="govuk-grid-column-one-half">
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            {{ govukTable({
              captionClasses: "govuk-table__caption--l",
              firstCellIsHeader: true,
              head: [
                {
                  text: "AP Code"
                },
                {
                  text: "AP Name"
                },
                {
                  text: "BedCode"
                },
                {
                  text: "Town"
                },
                {
                  text: "Start date"
                },
                {
                  text: "End date"
                }
                ,
                {
                  text: "Duration in weeks"
                }
              ],
              rows: bookingRows
            }) }}
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}


