{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}

  <main class="app-container govuk-body">
    <h1>Apply for an Approved Premises</h1>
    <p>Make an application to place an individual in an approved premises.</p>
  </main>

{% endblock %}
