{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}

  <main class="app-container govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1>Apply for an Approved Premises</h1>
        <p>Make an application to place an individual in an approved premises.</p>
        <p><a href="risks/summary">Choose sections of OASys to import</a></p>
        <p><a href="risks/predictors">View risk predictors</a></p>
      </div>
    </div>
  </main>

{% endblock %}


