{% extends "../partials/layout.njk" %}
{% from "components/predictor-score/macro.njk" import predictorScore %}
{% from "components/predictor-timeline/macro.njk" import predictorTimeline %}

{% set pageTitle = applicationName + " - Risk predictors" %}

{% block content %}
  <main class="app-container govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1>Risk predictors</h1>
        <p>Review the risk predictors before filling in the next section.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div id="predictor-scores" class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l score-header">RSR score</h2>
                    {{ predictorScore(predictorScores.current.scores.RSR) }}
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-l score-header">OSP/C score</h2>
                    {{ predictorScore(predictorScores.current.scores.OSPC) }}
                </div>
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-l score-header">OSP/I score</h2>
                    {{ predictorScore(predictorScores.current.scores.OSPI) }}
                </div>
            </div>
        </div>
        {% if predictorScores.historical.length %}
        <div id="predictor-scores-history" class="govuk-grid-column-one-third">
            <div class="govuk-body predictor-timeline__heading">
                <h2 class="govuk-heading-l">Scores history</h2>
                <a id="predictor-timeline__toggle-all" href="#" class="govuk-link">Open all</a>
            </div>
            {{ predictorTimeline(predictorScores.historical) }}
        </div>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}


